page-report {
   /* TODO: spinner is dropping classes so we have to use ids: https://github.com/ionic-team/ionic/issues/7087 */
   #archive-spinner,
   #download-spinner,
   .archiving .expand-hide,
   .downloading .expand-hide {
     display: none;
   }
   /* TODO: spinner doesn't have a good way to do this yet: https://github.com/ionic-team/ionic/issues/7087 */
   #archive-spinner.spinner-ios line,
   #archive-spinner.spinner-crescent circle {
     stroke: #fff;
   }
   #archive-spinner.spinner-circles circle {
     fill: #fff;
   }
   .archiving #archive-spinner,
   .downloading #download-spinner {
     display: block;
   }
   .chat-sliding-demo ion-note {
     font-size: 13px;
     margin-top: -8px;
   }
   .chat-sliding-demo img {
     pointer-events: none;
   }
   .login-sliding-demo .ion-logo-twitter {
     color: #53ACEB;
   }
   .login-sliding-demo .ion-logo-github {
     color: #000000;
   }
   .login-sliding-demo .ion-logo-google {
     color: #d33209d8;
   }
   .login-sliding-demo .ion-logo-instagram {
     color: #235D8D;
   }  
}
