page-invoice {


    .left {
        text-align: left !important;
     }

    input[type="file"]{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    } 
    
    .error{
        color: red;
        font-size: 10px;
        font-style: italic;
    }

    .login-form-background {
        background: #4a47ff;
        border-radius: 0.5em;
        opacity: 0.9;
        text-align:center;
    }

    .wrapper {
        position: absolute;
        height: 400px;
        width: 320px;
        left: 50%;
        top: 50%;
        margin-left: -160px;
        margin-top: -90px;
    }
  
    .wrapper .login-form {
        border: 1px solid #FFFFFF;
        margin: 0 auto;
        position: relative;
        border-radius: 0.5em !important;
        background: #31b0c4;
        text-align:center;
    }

    .wrapper .login-form ion-item{
        border-radius: 0.3em;
        opacity: 0.7;
    }

    .wrapper .login-form button{
        border-radius: 0.3em;
        opacity: 0.7;
        background: #ee064c3f;
    }

    .user-info{
        margin-left: -160px;
        margin-top: -165px;

    }

    .gradient {
        background-image: url("../../assets/imgs/gradient.png");
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        height: 700px;
        width: 700px;
        margin-left: -350px;
        margin-top: -350px;
        position: fixed;
        z-index: -100;
    }


    //CSS for sliding

    //CSS VCB
    //man hinh web login 
    .body-main {
        margin: 0 auto;
        padding: 0;
    }

    .body-main .content-main {
        margin: 0 auto;
        padding: 0;
        width: 960px;
    }
    
    .body-main .box-login {
        float: right;
        width: 340px;
        position: relative;
        padding: 0 10px;
        top: -227px;
        z-index: 1000;
    }

    .body-main .content-login {
        background: #fff;
        clear: both;
        min-height: 469px;
        border-radius: 20px 20px 20px 20px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        box-shadow: #222 0 1px 7px 0;
        padding: 0 40px;
        float: left;
        padding-bottom: 20px;
    }


    //man hinh mobile login
    //day du man hinh
    .full-login {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        padding-bottom: 30px;
    }

    //header
    .logo-login {
        background: #FFF;
        /* height: 157px; */
        width: 100%;
        padding: 22px 0 25px 0;
    }

    //hop login
    .box-login {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    //footer 
    .box-language {
        margin-bottom: 30px;
    }
    

}
