page-parameters {
  
  //for hiden column class
    .invisible {
        visibility: hidden !important;
      }
      
    .hidden-xs-up {
      display: none !important;
    }
    
    @media (max-width: 575px) {
      .hidden-xs-down {
        display: none !important;
      }
    }
    
    @media (min-width: 576px) {
      .hidden-sm-up {
        display: none !important;
      }
    }
    
    @media (max-width: 767px) {
      .hidden-sm-down {
        display: none !important;
      }
    }
    
    @media (min-width: 768px) {
      .hidden-md-up {
        display: none !important;
      }
    }
    
    @media (max-width: 991px) {
      .hidden-md-down {
        display: none !important;
      }
    }
    
    @media (min-width: 992px) {
      .hidden-lg-up {
        display: none !important;
      }
    }
    
    @media (max-width: 1199px) {
      .hidden-lg-down {
        display: none !important;
      }
    }
    
    @media (min-width: 1200px) {
      .hidden-xl-up {
        display: none !important;
      }
    }
    
    .hidden-xl-down {
      display: none !important;
    }

  //cho sliding
    /* TODO: spinner is dropping classes so we have to use ids: https://github.com/ionic-team/ionic/issues/7087 */
    #archive-spinner,
    #download-spinner,
    .archiving .expand-hide,
    .downloading .expand-hide {
      display: none;
    }
    /* TODO: spinner doesn't have a good way to do this yet: https://github.com/ionic-team/ionic/issues/7087 */
    #archive-spinner.spinner-ios line,
    #archive-spinner.spinner-crescent circle {
      stroke: #fff;
    }
    #archive-spinner.spinner-circles circle {
      fill: #fff;
    }
    .archiving #archive-spinner,
    .downloading #download-spinner {
      display: block;
    }
    .chat-sliding-demo ion-note {
      font-size: 13px;
      margin-top: -8px;
    }
    .chat-sliding-demo img {
      pointer-events: none;
    }
    .login-sliding-demo .ion-logo-twitter {
      color: #53ACEB;
    }
    .login-sliding-demo .ion-logo-github {
      color: #000000;
    }
    .login-sliding-demo .ion-logo-instagram {
      color: #235D8D;
    }

    
}