update dm_loai_bao_duong set name_no_sign = 'A PHANH SAU' where id=1;
update dm_loai_bao_duong set name_no_sign = 'AC PISTON' where id=2;
update dm_loai_bao_duong set name_no_sign = 'BA GA' where id=3;
update dm_loai_bao_duong set name_no_sign = 'BACH BO' where id=4;
update dm_loai_bao_duong set name_no_sign = 'BAGA YA' where id=5;
update dm_loai_bao_duong set name_no_sign = 'BAO DUONG DINH KY' where id=8;
update dm_loai_bao_duong set name_no_sign = 'BAO DUONG TOAN BO' where id=14;
update dm_loai_bao_duong set name_no_sign = 'BAO VE LOC CON' where id=22;
update dm_loai_bao_duong set name_no_sign = 'BCAHS BO TO' where id=23;
update dm_loai_bao_duong set name_no_sign = 'BI' where id=24;
update dm_loai_bao_duong set name_no_sign = 'BI 6004' where id=25;
update dm_loai_bao_duong set name_no_sign = 'BI 6203' where id=26;
update dm_loai_bao_duong set name_no_sign = 'BI 6302' where id=27;
update dm_loai_bao_duong set name_no_sign = 'BI CAM' where id=28;
update dm_loai_bao_duong set name_no_sign = 'BI CAU' where id=29;
update dm_loai_bao_duong set name_no_sign = 'BI TRUOC' where id=30;
update dm_loai_bao_duong set name_no_sign = 'BI TRUOC ( MN )' where id=31;
update dm_loai_bao_duong set name_no_sign = 'BI VANG' where id=32;
update dm_loai_bao_duong set name_no_sign = 'BI VEN' where id=33;
update dm_loai_bao_duong set name_no_sign = 'BIEN SO' where id=34;
update dm_loai_bao_duong set name_no_sign = 'BINH DIEN' where id=35;
update dm_loai_bao_duong set name_no_sign = 'BO CON XE' where id=36;
update dm_loai_bao_duong set name_no_sign = 'BO TANG XICH MAY' where id=37;
update dm_loai_bao_duong set name_no_sign = 'BOC YEN' where id=39;
update dm_loai_bao_duong set name_no_sign = 'BOM LOP' where id=40;
update dm_loai_bao_duong set name_no_sign = 'BONG PHA' where id=42;
update dm_loai_bao_duong set name_no_sign = 'CACBON' where id=43;
update dm_loai_bao_duong set name_no_sign = 'CAI DAT ECU' where id=44;
update dm_loai_bao_duong set name_no_sign = 'CAI DAT IC' where id=45;
update dm_loai_bao_duong set name_no_sign = 'CAI DAT ICM' where id=46;
update dm_loai_bao_duong set name_no_sign = 'CAI IC' where id=47;
update dm_loai_bao_duong set name_no_sign = 'CAI KHOA DIEU KHIEN' where id=48;
update dm_loai_bao_duong set name_no_sign = 'CAN TANG XICH MAY' where id=49;
update dm_loai_bao_duong set name_no_sign = 'CB' where id=50;
update dm_loai_bao_duong set name_no_sign = 'CBVSBDOT' where id=51;
update dm_loai_bao_duong set name_no_sign = 'CHAN CHONG GIUA' where id=53;
update dm_loai_bao_duong set name_no_sign = 'CHINH LAI M' where id=54;
update dm_loai_bao_duong set name_no_sign = 'CHONG NANG' where id=55;
update dm_loai_bao_duong set name_no_sign = 'CONG THO' where id=57;
update dm_loai_bao_duong set name_no_sign = 'CONG THO DAU PHANH' where id=58;
update dm_loai_bao_duong set name_no_sign = 'CONG THO LAM CO' where id=59;
update dm_loai_bao_duong set name_no_sign = 'CONG THO LAM MAY' where id=60;
update dm_loai_bao_duong set name_no_sign = 'CONG THO NOI DAY' where id=61;
update dm_loai_bao_duong set name_no_sign = 'CONG THO THAO RAP' where id=64;
update dm_loai_bao_duong set name_no_sign = 'CONG THO THAY BI' where id=66;
update dm_loai_bao_duong set name_no_sign = 'CONG THO THAY KM' where id=67;
update dm_loai_bao_duong set name_no_sign = 'CONG THO THAY MA PHANH SAU' where id=68;
update dm_loai_bao_duong set name_no_sign = 'CONG THO THAY ONG XANG' where id=69;
update dm_loai_bao_duong set name_no_sign = 'CONG THO THAY XAM' where id=70;
update dm_loai_bao_duong set name_no_sign = 'CONG THO THAY XICH CAM' where id=71;
update dm_loai_bao_duong set name_no_sign = 'CONG TO THAO RAP' where id=72;
update dm_loai_bao_duong set name_no_sign = 'CUM KM' where id=73;
update dm_loai_bao_duong set name_no_sign = 'DAN ROANG' where id=74;
update dm_loai_bao_duong set name_no_sign = 'DANH BAT' where id=75;
update dm_loai_bao_duong set name_no_sign = 'DANH BONG' where id=76;
update dm_loai_bao_duong set name_no_sign = 'DANH NONG' where id=77;
update dm_loai_bao_duong set name_no_sign = 'DAP ROANG NAP CON' where id=78;
update dm_loai_bao_duong set name_no_sign = 'DAU CAU' where id=79;
update dm_loai_bao_duong set name_no_sign = 'DAU DIAZEN' where id=80;
update dm_loai_bao_duong set name_no_sign = 'DAY KM' where id=81;
update dm_loai_bao_duong set name_no_sign = 'DOA NONG' where id=82;
update dm_loai_bao_duong set name_no_sign = 'EP VEN' where id=83;
update dm_loai_bao_duong set name_no_sign = 'GA NANG' where id=84;
update dm_loai_bao_duong set name_no_sign = 'GAN BIEN SO' where id=85;
update dm_loai_bao_duong set name_no_sign = 'GUONG KIEU' where id=87;
update dm_loai_bao_duong set name_no_sign = 'HAN' where id=88;
update dm_loai_bao_duong set name_no_sign = 'HAN BINH XANG' where id=89;
update dm_loai_bao_duong set name_no_sign = 'HAN BO' where id=90;
update dm_loai_bao_duong set name_no_sign = 'HAN CUONG BO' where id=91;
update dm_loai_bao_duong set name_no_sign = 'HAN LOC MAY' where id=92;
update dm_loai_bao_duong set name_no_sign = 'HAN ONG BO' where id=93;
update dm_loai_bao_duong set name_no_sign = 'HOP BIEN SO' where id=94;
update dm_loai_bao_duong set name_no_sign = 'K/MAI DAU MAY' where id=95;
update dm_loai_bao_duong set name_no_sign = 'K/MAI MU BAO HIEM' where id=96;
update dm_loai_bao_duong set name_no_sign = 'KEO' where id=97;
update dm_loai_bao_duong set name_no_sign = 'KEO DAN ROANG' where id=98;
update dm_loai_bao_duong set name_no_sign = 'KEP GIUA' where id=99;
update dm_loai_bao_duong set name_no_sign = 'KEP GIUA ( BAO HANH )' where id=100;
update dm_loai_bao_duong set name_no_sign = 'KHONG KHUYEN MAI' where id=101;
update dm_loai_bao_duong set name_no_sign = 'KHUYEN MAI AO MUA' where id=102;
update dm_loai_bao_duong set name_no_sign = 'KHUYEN MAI MU BAO HIEM' where id=103;
update dm_loai_bao_duong set name_no_sign = 'KHUYEN MAI NHOT MAY' where id=104;
update dm_loai_bao_duong set name_no_sign = 'KIEM TRA CHINH LAI TAY GA' where id=105;
update dm_loai_bao_duong set name_no_sign = 'KIEM TRA DE' where id=106;
update dm_loai_bao_duong set name_no_sign = 'KIEM TRA LOP SAU' where id=107;
update dm_loai_bao_duong set name_no_sign = 'KIEM TRA MA PHANH SAU' where id=108;
update dm_loai_bao_duong set name_no_sign = 'KIEM TRA NHOT' where id=109;
update dm_loai_bao_duong set name_no_sign = 'KIEM TRA VANH SAU' where id=110;
update dm_loai_bao_duong set name_no_sign = 'KIEM TRA XE' where id=111;
update dm_loai_bao_duong set name_no_sign = 'KIEM TRA XE DINH KY' where id=112;
update dm_loai_bao_duong set name_no_sign = 'LAM BACH BO' where id=113;
update dm_loai_bao_duong set name_no_sign = 'LAM BI' where id=114;
update dm_loai_bao_duong set name_no_sign = 'LAM BIATO' where id=115;
update dm_loai_bao_duong set name_no_sign = 'LAM BO CAM BIEN' where id=116;
update dm_loai_bao_duong set name_no_sign = 'LAM BOM XANG' where id=117;
update dm_loai_bao_duong set name_no_sign = 'LAM CHAN CHONG' where id=118;
update dm_loai_bao_duong set name_no_sign = 'LAM CHAN CHONG GIUA' where id=119;
update dm_loai_bao_duong set name_no_sign = 'LAM CHAN DAP' where id=120;
update dm_loai_bao_duong set name_no_sign = 'LAM CO' where id=121;
update dm_loai_bao_duong set name_no_sign = 'LAM CO LECH' where id=122;
update dm_loai_bao_duong set name_no_sign = 'LAM CON' where id=123;
update dm_loai_bao_duong set name_no_sign = 'LAM DAU BO' where id=124;
update dm_loai_bao_duong set name_no_sign = 'LAM DE' where id=125;
update dm_loai_bao_duong set name_no_sign = 'LAM DEN PHA' where id=126;
update dm_loai_bao_duong set name_no_sign = 'LAM DIEN' where id=127;
update dm_loai_bao_duong set name_no_sign = 'LAM DONG HO' where id=128;
update dm_loai_bao_duong set name_no_sign = 'LAM GIAM XOC TRUOC' where id=129;
update dm_loai_bao_duong set name_no_sign = 'LAM KHO DONG HO' where id=130;
update dm_loai_bao_duong set name_no_sign = 'LAM KHOA SAU' where id=131;
update dm_loai_bao_duong set name_no_sign = 'LAM LAI CON' where id=132;
update dm_loai_bao_duong set name_no_sign = 'LAM LAI CON( DAN CON)' where id=133;
update dm_loai_bao_duong set name_no_sign = 'LAM LAI DAY DIEN' where id=134;
update dm_loai_bao_duong set name_no_sign = 'LAM LAI PHANH TRUOC' where id=135;
update dm_loai_bao_duong set name_no_sign = 'LAM LAI VANH XE' where id=136;
update dm_loai_bao_duong set name_no_sign = 'LAM MA PHANH SAU' where id=137;
update dm_loai_bao_duong set name_no_sign = 'LAM MAY' where id=138;
update dm_loai_bao_duong set name_no_sign = 'LAM ONG HOI' where id=139;
update dm_loai_bao_duong set name_no_sign = 'LAM PHANH KEU' where id=140;
update dm_loai_bao_duong set name_no_sign = 'LAM PHANH NANG' where id=141;
update dm_loai_bao_duong set name_no_sign = 'LAM PHANH TRUOC' where id=142;
update dm_loai_bao_duong set name_no_sign = 'LAM THAN DE' where id=143;
update dm_loai_bao_duong set name_no_sign = 'LAM VANH' where id=144;
update dm_loai_bao_duong set name_no_sign = 'LAM VANH TRUOC' where id=146;
update dm_loai_bao_duong set name_no_sign = 'LAM VANH XE SAU' where id=147;
update dm_loai_bao_duong set name_no_sign = 'LAM VEN' where id=148;
update dm_loai_bao_duong set name_no_sign = 'LAM XE BAO LOI' where id=149;
update dm_loai_bao_duong set name_no_sign = 'LAM XE BI CHAY XANG' where id=150;
update dm_loai_bao_duong set name_no_sign = 'LAM XE KHONG NO' where id=151;
update dm_loai_bao_duong set name_no_sign = 'LAM XE OA GA' where id=152;
update dm_loai_bao_duong set name_no_sign = 'LAP BIEN SO' where id=153;
update dm_loai_bao_duong set name_no_sign = 'LAP GAC CHAN' where id=154;
update dm_loai_bao_duong set name_no_sign = 'LAP HOP BIEN SO' where id=155;
update dm_loai_bao_duong set name_no_sign = 'LAP THAM LOT CHAN' where id=156;
update dm_loai_bao_duong set name_no_sign = 'LOC GIO' where id=157;
update dm_loai_bao_duong set name_no_sign = 'LOC MAY' where id=158;
update dm_loai_bao_duong set name_no_sign = 'LOC NHOT' where id=159;
update dm_loai_bao_duong set name_no_sign = 'LOP' where id=160;
update dm_loai_bao_duong set name_no_sign = 'MA PHANH TRUOC' where id=161;
update dm_loai_bao_duong set name_no_sign = 'MAY KEU' where id=162;
update dm_loai_bao_duong set name_no_sign = 'MDS' where id=163;
update dm_loai_bao_duong set name_no_sign = 'MDT' where id=164;
update dm_loai_bao_duong set name_no_sign = 'MO DE TRUOC' where id=165;
update dm_loai_bao_duong set name_no_sign = 'MOC BAM' where id=166;
update dm_loai_bao_duong set name_no_sign = 'NAN BO' where id=167;
update dm_loai_bao_duong set name_no_sign = 'NAN DIA TRUOC' where id=168;
update dm_loai_bao_duong set name_no_sign = 'NAN GAC CHAN' where id=169;
update dm_loai_bao_duong set name_no_sign = 'NAN GHI DONG' where id=170;
update dm_loai_bao_duong set name_no_sign = 'NAN KHUNG' where id=171;
update dm_loai_bao_duong set name_no_sign = 'NAN PHUOC' where id=172;
update dm_loai_bao_duong set name_no_sign = 'NAN SUON' where id=173;
update dm_loai_bao_duong set name_no_sign = 'NAN VANH' where id=174;
update dm_loai_bao_duong set name_no_sign = 'NAN VANH SAU' where id=175;
update dm_loai_bao_duong set name_no_sign = 'NAN VANH TRUOC' where id=176;
update dm_loai_bao_duong set name_no_sign = 'NHO' where id=177;
update dm_loai_bao_duong set name_no_sign = 'NHONG XICH DIA' where id=178;
update dm_loai_bao_duong set name_no_sign = 'NHONG XICH DIA YA' where id=179;
update dm_loai_bao_duong set name_no_sign = 'NHOT' where id=180;
update dm_loai_bao_duong set name_no_sign = 'NHOT MAY (YAMAHA) 1LIT' where id=181;
update dm_loai_bao_duong set name_no_sign = 'NHOT- YA' where id=182;
update dm_loai_bao_duong set name_no_sign = 'NHOT YAMAHA' where id=183;
update dm_loai_bao_duong set name_no_sign = 'NHOT YAMAHA 0.8' where id=184;
update dm_loai_bao_duong set name_no_sign = 'NOI LAI DAY DIEN' where id=185;
update dm_loai_bao_duong set name_no_sign = 'NXD' where id=187;
update dm_loai_bao_duong set name_no_sign = 'NXD YAMAHA' where id=188;
update dm_loai_bao_duong set name_no_sign = 'ONG BO' where id=189;
update dm_loai_bao_duong set name_no_sign = 'ONG THO TAHY DAY DAI' where id=190;
update dm_loai_bao_duong set name_no_sign = 'ONG XANG' where id=191;
update dm_loai_bao_duong set name_no_sign = 'ONG XANG(MN)' where id=192;
update dm_loai_bao_duong set name_no_sign = 'OP BO' where id=193;
update dm_loai_bao_duong set name_no_sign = 'OP GIAM XOC' where id=194;
update dm_loai_bao_duong set name_no_sign = 'OP LOC GIO' where id=195;
update dm_loai_bao_duong set name_no_sign = 'OP LOC GIO (IN)' where id=196;
update dm_loai_bao_duong set name_no_sign = 'PHA DEN' where id=197;
update dm_loai_bao_duong set name_no_sign = 'PHANH NANG' where id=199;
update dm_loai_bao_duong set name_no_sign = 'PHE' where id=200;
update dm_loai_bao_duong set name_no_sign = 'PHOT MAM DIEN' where id=201;
update dm_loai_bao_duong set name_no_sign = 'PHOT SUPAP 2 CAI' where id=202;
update dm_loai_bao_duong set name_no_sign = 'PHOT SUPAP 4 CAI' where id=203;
update dm_loai_bao_duong set name_no_sign = 'PHUC HOI GIAM XOC' where id=204;
update dm_loai_bao_duong set name_no_sign = 'PHUC HOI GIAM XOC SAU' where id=205;
update dm_loai_bao_duong set name_no_sign = 'PHUC HOI GIAM XOC SAU PHAI' where id=206;
update dm_loai_bao_duong set name_no_sign = 'PHUC HOI PHANH TRUOC' where id=208;
update dm_loai_bao_duong set name_no_sign = 'PHUOC' where id=209;
update dm_loai_bao_duong set name_no_sign = 'PISTON' where id=210;
update dm_loai_bao_duong set name_no_sign = 'PITTONG XECMANG' where id=211;
update dm_loai_bao_duong set name_no_sign = 'PT YA' where id=212;
update dm_loai_bao_duong set name_no_sign = 'RA' where id=213;
update dm_loai_bao_duong set name_no_sign = 'RA XUPAP' where id=214;
update dm_loai_bao_duong set name_no_sign = 'ROANG KEO' where id=215;
update dm_loai_bao_duong set name_no_sign = 'ROANG MAY' where id=216;
update dm_loai_bao_duong set name_no_sign = 'RUA VOI PHUN' where id=217;
update dm_loai_bao_duong set name_no_sign = 'RUA XE' where id=218;
update dm_loai_bao_duong set name_no_sign = 'S' where id=219;
update dm_loai_bao_duong set name_no_sign = 'SAU' where id=220;
update dm_loai_bao_duong set name_no_sign = 'SON' where id=221;
update dm_loai_bao_duong set name_no_sign = 'SON TAY DAT SAU' where id=222;
update dm_loai_bao_duong set name_no_sign = 'SON TAY XACH' where id=223;
update dm_loai_bao_duong set name_no_sign = 'SON XE' where id=224;
update dm_loai_bao_duong set name_no_sign = 'SUA COI XE' where id=225;
update dm_loai_bao_duong set name_no_sign = 'SUA DE' where id=226;
update dm_loai_bao_duong set name_no_sign = 'SUA O BI' where id=227;
update dm_loai_bao_duong set name_no_sign = 'SUC MAY' where id=228;
update dm_loai_bao_duong set name_no_sign = 'TANG AO MUA' where id=229;
update dm_loai_bao_duong set name_no_sign = 'TANG MU BAO HIEM' where id=230;
update dm_loai_bao_duong set name_no_sign = 'TANG NHONG XICH DIA' where id=231;
update dm_loai_bao_duong set name_no_sign = 'TANG NHOT MAY' where id=232;
update dm_loai_bao_duong set name_no_sign = 'THAY BI' where id=233;
update dm_loai_bao_duong set name_no_sign = 'THAY BI CON' where id=234;
update dm_loai_bao_duong set name_no_sign = 'THAY BI TRUOC' where id=235;
update dm_loai_bao_duong set name_no_sign = 'THAY BUGI' where id=236;
update dm_loai_bao_duong set name_no_sign = 'THAY CO BO' where id=237;
update dm_loai_bao_duong set name_no_sign = 'THAY CUM KM' where id=238;
update dm_loai_bao_duong set name_no_sign = 'THAY DAU' where id=239;
update dm_loai_bao_duong set name_no_sign = 'THAY DAU MAY' where id=240;
update dm_loai_bao_duong set name_no_sign = 'THAY DAY CON' where id=241;
update dm_loai_bao_duong set name_no_sign = 'THAY DAY GA' where id=242;
update dm_loai_bao_duong set name_no_sign = 'THAY DAY KM' where id=243;
update dm_loai_bao_duong set name_no_sign = 'THAY GUONG' where id=244;
update dm_loai_bao_duong set name_no_sign = 'THAY LOC GIO' where id=245;
update dm_loai_bao_duong set name_no_sign = 'THAY LOP' where id=246;
update dm_loai_bao_duong set name_no_sign = 'THAY LOP SAU' where id=247;
update dm_loai_bao_duong set name_no_sign = 'THAY LOP( KHACH MANG DEN)' where id=248;
update dm_loai_bao_duong set name_no_sign = 'THAY MA PHANH' where id=249;
update dm_loai_bao_duong set name_no_sign = 'THAY MA PHANH SAU' where id=250;
update dm_loai_bao_duong set name_no_sign = 'THAY MA PHANH SAU - YA' where id=251;
update dm_loai_bao_duong set name_no_sign = 'THAY MA PHANH TRUOC' where id=252;
update dm_loai_bao_duong set name_no_sign = 'THAY MA PHANH TRUOC- YA' where id=253;
update dm_loai_bao_duong set name_no_sign = 'THAY MAT DONG HO' where id=254;
update dm_loai_bao_duong set name_no_sign = 'THAY MAT NA' where id=255;
update dm_loai_bao_duong set name_no_sign = 'THAY NHONG XICH DIA' where id=256;
update dm_loai_bao_duong set name_no_sign = 'THAY NHOT' where id=257;
update dm_loai_bao_duong set name_no_sign = 'THAY NHOT (YA)' where id=258;
update dm_loai_bao_duong set name_no_sign = 'THAY NHOT MAY' where id=259;
update dm_loai_bao_duong set name_no_sign = 'THAY NHOT MAY QUAY TRUNG THUONG' where id=260;
update dm_loai_bao_duong set name_no_sign = 'THAY NHOT MAY TRUNG THUONG' where id=261;
update dm_loai_bao_duong set name_no_sign = 'THAY NHOT TRUNG THUONG' where id=262;
update dm_loai_bao_duong set name_no_sign = 'THAY ONG BO' where id=264;
update dm_loai_bao_duong set name_no_sign = 'THAY PHOT DAU' where id=265;
update dm_loai_bao_duong set name_no_sign = 'THAY PHU TUNG' where id=266;
update dm_loai_bao_duong set name_no_sign = 'THAY PT' where id=267;
update dm_loai_bao_duong set name_no_sign = 'THAY RO LE DE' where id=268;
update dm_loai_bao_duong set name_no_sign = 'THAY SAC' where id=269;
update dm_loai_bao_duong set name_no_sign = 'THAY THE PHU TUNG' where id=271;
update dm_loai_bao_duong set name_no_sign = 'THAY THE PHU TUNG- BAGA' where id=272;
update dm_loai_bao_duong set name_no_sign = 'THAY THE PHU TUNG YA' where id=273;
update dm_loai_bao_duong set name_no_sign = 'THAY VONG BI 6201' where id=274;
update dm_loai_bao_duong set name_no_sign = 'THAY XI NHAN TRAI' where id=275;
update dm_loai_bao_duong set name_no_sign = 'TIEN CONG' where id=276;
update dm_loai_bao_duong set name_no_sign = 'TRU QUA KHUYEN MAI' where id=277;
update dm_loai_bao_duong set name_no_sign = 'TU DIEN' where id=278;
update dm_loai_bao_duong set name_no_sign = 'VA LOP' where id=279;
update dm_loai_bao_duong set name_no_sign = 'VA LOP 2 LO' where id=281;
update dm_loai_bao_duong set name_no_sign = 'VA LOP SAU' where id=282;
update dm_loai_bao_duong set name_no_sign = 'VA LOP TRONG' where id=283;
update dm_loai_bao_duong set name_no_sign = 'VA LOP TRUOC' where id=285;
update dm_loai_bao_duong set name_no_sign = 'VAN XE' where id=286;
update dm_loai_bao_duong set name_no_sign = 'VE SINH BO CAM BIEN' where id=287;
update dm_loai_bao_duong set name_no_sign = 'VE SINH BUONG DOT' where id=288;
update dm_loai_bao_duong set name_no_sign = 'VE SINH CON' where id=289;
update dm_loai_bao_duong set name_no_sign = 'VE SINH CON SAU' where id=290;
update dm_loai_bao_duong set name_no_sign = 'VE SINH KIM PHUN' where id=291;
update dm_loai_bao_duong set name_no_sign = 'VE SINH VANH' where id=292;
update dm_loai_bao_duong set name_no_sign = 'VE SINH VANH TRUOC' where id=293;
update dm_loai_bao_duong set name_no_sign = 'VIT NGAM PHANH' where id=294;
update dm_loai_bao_duong set name_no_sign = 'XAM SAU YAMAHA' where id=295;
update dm_loai_bao_duong set name_no_sign = 'XE CHAY HUT HUT' where id=296;
update dm_loai_bao_duong set name_no_sign = 'XE DE KHONG NO' where id=297;
update dm_loai_bao_duong set name_no_sign = 'XE KHONG DE DUOC' where id=298;
update dm_loai_bao_duong set name_no_sign = 'XE KHONG NO' where id=299;
update dm_loai_bao_duong set name_no_sign = 'XEC MANG' where id=300;
update dm_loai_bao_duong set name_no_sign = 'XICH BOM NHOT' where id=301;
update dm_loai_bao_duong set name_no_sign = 'XICH MAY' where id=302;
