<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="!isSearch && dynamicFriends?.search_bar">
      <button ion-button icon-only color="primary" (click)="goSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-searchbar start *ngIf="isSearch && dynamicFriends?.search_bar"
      placeholder="{{dynamicFriends?.search_bar}}" [(ngModel)]="searchString"
      [showCancelButton]="shouldShowCancel" (ionInput)="onInputSearch($event)" (keyup.enter)="searchEnter()"
      (keyup.esc)="searchEnter()">
    </ion-searchbar>

    <ion-title *ngIf="!isSearch">{{dynamicFriends?.title}}</ion-title>

    <ion-buttons end *ngFor="let btn of dynamicFriends?.buttons">
      <button *ngIf="!isSearch" class="badge-background" ion-button icon-only color="{{btn.color}}"
        (click)="onClickHeader(btn)">
        <ion-icon name="{{btn.icon}}"></ion-icon>
        <ion-badge *ngIf="btn.alerts&&btn.alerts.length>0" class="badge-alert" color="danger">
          {{ (btn.alerts?.length>99?'99+':btn.alerts?.length) }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="background-page gradient">

  <ion-grid>
    <ion-row>
      <ion-col class="background-card gradient grid-border" 
      text-center 
      col-12 
      offset-xl-2 col-xl-8 
      offset-lg-2 col-lg-8
      offset-md-2 col-md-8 
      col-sm-12 
      *ngIf="publicFriends?.length>0 || newFriends?.length>0 || friends?.length>0">

            <ion-list *ngIf="publicFriends?.length>0">
                <ion-title>Bạn có thể quen?</ion-title> 
                <ion-item-sliding #slidingItem class="background-list" *ngFor="let contact of publicFriends; let idx = index">
                    <ion-item #item class="background-item" *ngIf="idx<=morePublic">
                        <ion-icon item-start *ngIf="!contact.avatar" name="contact" color="primary"></ion-icon>
                        <ion-avatar item-start *ngIf="contact.avatar">
                            <img [src]="contact.avatar">
                        </ion-avatar>
                        
                        <ion-title >{{contact.fullname?contact.fullname:contact.nickname?contact.nickname:contact.username}}</ion-title>
                        <h3 *ngIf="contact.nickname" text-wrap>{{contact.nickname}}</h3>
                        <p *ngIf="contact.phone" text-wrap>{{contact.phone}}</p>
                        <p *ngIf="contact.address" text-wrap>{{contact.address}}</p>
                        <ion-note item-end text-wrap *ngIf="contact.relationship">
                          {{contact.relationship}}
                          <p *ngIf="idx===morePublic">
                            <ion-icon *ngIf="idx<publicFriends.length-1" tappable (click)="onClickMore('PUBLIC')" name="ios-arrow-down"></ion-icon>
                            <span *ngIf="morePublic<publicFriends.length-1">{{(publicFriends.length-morePublic-1)}}</span>
                            <ion-icon *ngIf="idx>countView && idx<=publicFriends.length-1" tappable (click)="onClickMore('PUBLIC-CLOSE')" name="ios-arrow-up"></ion-icon>
                          </p>
                        </ion-note>
                    </ion-item>

                    <ion-item-options *ngIf="idx<=morePublic">
                        <button ion-button *ngFor="let opt of options" color="{{opt.color}}" (click)="onClickDetails(slidingItem, opt, contact, idx, 'PUBLIC')">
                            <ion-icon name="{{opt.icon}}"></ion-icon>
                            {{opt.name}}
                        </button>
                    </ion-item-options>

                </ion-item-sliding>
            </ion-list>

            <ion-list *ngIf="newFriends?.length>0">
                <ion-title>Bạn từ danh bạ của bạn?</ion-title> 
                <ion-item-sliding #slidingItem class="background-list" *ngFor="let contact of newFriends; let idx = index">
                    <ion-item #item class="background-item" *ngIf="idx<=moreNewFriends">
                        <ion-icon item-start *ngIf="!contact.avatar" name="contact" color="primary"></ion-icon>
                        <ion-avatar item-start *ngIf="contact.avatar">
                            <img [src]="contact.avatar">
                        </ion-avatar>
                        
                        <ion-title >{{contact.fullname?contact.fullname:contact.nickname?contact.nickname:contact.username}}</ion-title>
                        <h3 *ngIf="contact.nickname" text-wrap>{{contact.nickname}}</h3>
                        <p *ngIf="contact.phone" text-wrap>{{contact.phone}}</p>
                        <p *ngIf="contact.address" text-wrap>{{contact.address}}</p>
                        <ion-note item-end text-wrap *ngIf="contact.relationship">
                          {{contact.relationship}}
                          <p *ngIf="idx===moreNewFriends">
                            <ion-icon *ngIf="idx<newFriends.length-1" tappable (click)="onClickMore('NEW-FRIEND')" name="ios-arrow-down"></ion-icon>
                            <span *ngIf="moreNewFriends<newFriends.length-1">{{(newFriends.length-moreNewFriends-1)}}</span>
                            <ion-icon *ngIf="idx>countView && idx<=newFriends.length-1" tappable (click)="onClickMore('NEW-FRIEND-CLOSE')" name="ios-arrow-up"></ion-icon>
                          </p>
                        </ion-note>
                    </ion-item>

                    <ion-item-options *ngIf="idx<=moreNewFriends">
                        <button ion-button *ngFor="let opt of options" color="{{opt.color}}" (click)="onClickDetails(slidingItem, opt, contact, idx, 'NEW-FRIEND')">
                            <ion-icon name="{{opt.icon}}"></ion-icon>
                            {{opt.name}}
                        </button>
                    </ion-item-options>

                </ion-item-sliding>
            </ion-list>


            <ion-list *ngIf="friends?.length>0">
                <ion-title>BẠN HIỆN TẠI</ion-title> 
                <ion-item-sliding #slidingItem class="background-list" *ngFor="let contact of friends; let idx = index">
                    <ion-item #item class="background-item" *ngIf="idx<=moreFriends">
                        <ion-icon item-start *ngIf="!contact.avatar" name="contact" color="primary"></ion-icon>
                        <ion-avatar item-start *ngIf="contact.avatar">
                            <img [src]="contact.avatar">
                        </ion-avatar>
                        
                        <ion-title >{{contact.fullname?contact.fullname:contact.nickname?contact.nickname:contact.username}}</ion-title>
                        <h3 *ngIf="contact.nickname" text-wrap>{{contact.nickname}}</h3>
                        <p *ngIf="contact.phone" text-wrap>{{contact.phone}}</p>
                        <p *ngIf="contact.address" text-wrap>{{contact.address}}</p>
                        <ion-note item-end text-wrap *ngIf="contact.relationship">
                          {{contact.relationship}}
                          <p *ngIf="idx===moreFriends">
                            <ion-icon color="primary" *ngIf="idx<friends.length-1" tappable (click)="onClickMore('FRIEND')" name="ios-arrow-dropdown-circle"></ion-icon>
                            <span *ngIf="moreFriends<friends.length-1">{{(friends.length-moreFriends-1)}}</span>
                            <ion-icon color="primary" *ngIf="idx>countView && idx<=friends.length-1" tappable (click)="onClickMore('FRIEND-CLOSE')" name="ios-arrow-dropup-circle"></ion-icon>
                          </p>
                        </ion-note>
                    </ion-item>

                    <ion-item-options *ngIf="idx<=moreFriends">
                        <button ion-button *ngFor="let opt of friendOptions" color="{{opt.color}}" (click)="onClickDetails(slidingItem, opt, contact, idx, 'FRIEND')">
                            <ion-icon name="{{opt.icon}}"></ion-icon>
                            {{opt.name}}
                        </button>
                    </ion-item-options>

                </ion-item-sliding>
            </ion-list>
    
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>