<ion-header>
    <ion-navbar>
        
        <ion-buttons end *ngIf="!isSearch && dynamicList?.search_bar">
            <button ion-button icon-only color="royal" (click)="goSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons end *ngFor="let btn of dynamicList?.buttons">
            <button ion-button icon-only color="{{btn.color}}" (click)="onClickHeader(btn)">
                <ion-icon name="{{btn.icon}}"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title *ngIf="!isSearch">{{dynamicList?.title}}</ion-title>

    </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
    <div style="display: block">
        <canvas baseChart 
        [chartType]="doughnutChartType"
        [data]="doughnutChartData" 
        [labels]="doughnutChartLabels" 
        [options]="doughnutChartOptions"
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)"></canvas>
    </div>

    <div>
        <div style="display: block">
            <canvas baseChart 
            [chartType]="barChartType" 
            [datasets]="barChartData" 
            [labels]="barChartLabels" 
            [options]="barChartOptions"
            [legend]="barChartLegend" 
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
        <button (click)="randomize()">Update</button>
    </div>

    <div>
        <div style="display: block;">
            <canvas baseChart width="300" height="400" 
            [chartType]="lineChartType" 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels"
            [options]="lineChartOptions" 
            [colors]="lineChartColors" 
            [legend]="lineChartLegend"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
        <button (click)="randomizeLine()">Update</button>
    </div>

</ion-content>