<ion-header>
    <ion-navbar>

        <ion-buttons end *ngIf="dynamicList?.search_bar || dynamicList?.correct_bar">
            <button *ngIf="dynamicList?.search_bar && !dynamicList?.search_bar?.is_search" ion-button icon-only color="royal" (click)="goSearch('SEARCH')">
                <ion-icon name="search"></ion-icon>
            </button>
            <button *ngIf="dynamicList?.correct_bar && !dynamicList?.correct_bar?.is_search" ion-button icon-only color="royal" (click)="goSearch('CORRECT')">
                <ion-icon name="ios-cloud-download-outline"></ion-icon>
            </button>
        </ion-buttons>

        <ion-searchbar start *ngIf="dynamicList?.search_bar && dynamicList?.search_bar?.is_search" 
        placeholder="{{dynamicList.search_bar.placeholder}}" 
        [(ngModel)]="dynamicList.search_bar.search_string"
        (keyup.enter)="searchEnter('SEARCH')"
        (keyup.esc)="searchEnter('SEARCH')"
        (ionInput)="onInput($event)" 
        (focusout)="searchEnter('SEARCH')">
        </ion-searchbar>

        <ion-buttons end *ngFor="let btn of dynamicList?.buttons">
            <button class="badge-background" ion-button icon-only color="{{btn.color}}" (click)="onClickHeader(btn)">
                <ion-icon name="{{btn.icon}}"></ion-icon>
                <ion-badge class="badge-alert" color="danger" *ngIf="btn.alerts?.length>0">{{ (btn.alerts?.length>99?'99+':btn.alerts?.length) }}</ion-badge>
            </button>
        </ion-buttons>

        <ion-title *ngIf="!dynamicList?.search_bar?.is_search">{{dynamicList?.title}}</ion-title>

    </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">

    <ion-refresher (ionRefresh)="doInfinite($event,'UP')">
        <ion-refresher-content 
            pullingIcon="arrow-dropdown" 
            pullingText="Load dữ liệu mới hơn..." 
            refreshingSpinner="circles"
            refreshingText="Đang tải...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="dynamicList?.correct_bar && dynamicList?.correct_bar?.is_search" 
    style="width: 100%; z-index: 999;position: absolute;">
        <ng-template #withFlags let-attrs="attrs">
            <img src="{{attrs.data.flag}}" class="flag" />
            <span [innerHTML]="attrs.data.name | boldprefix:attrs.keyword"></span>
        </ng-template>
        <ion-auto-complete style="width: 100%" 
        [(ngModel)]="dynamicList.correct_bar.search_string"
        [options]="dynamicList.correct_bar.options"
        [template]="withFlags" 
        (itemSelected)="searchCorrectSelect($event,'SELECTED')"
        (focusout)="searchCorrectSelect($event,'OUT')"
        (keyup.enter)="searchEnter('CORRECT')"
        (keyup.esc)="searchEnter('CORRECT')"
        [dataProvider]="apiAutoComplete" #searchBar>
        </ion-auto-complete>
    </div>

    <ion-list>

        <ion-item-sliding #slidingItem class="background-list" *ngFor="let it of dynamicList.items; let idx = index">
                <!-- tappable (click)="onClickDetails(slidingItem,it,0)" -->
            <ion-item #item class="background-item">
                <ion-icon item-start *ngIf="!it.image&&it.icon" name="{{it.icon}}" color="{{it.color}}"></ion-icon>
                <ion-avatar *ngIf="it.image" item-start>
                    <img [src]="it.image">
                </ion-avatar>
                <ion-title>{{it.title}}</ion-title>
                <p text-wrap [innerHtml]="it.content | newline | linkify"></p>

                <div *ngIf="(it.content | linkify:'urlInfos')?.length>0">
                    <div *ngFor="let urlInfo of it.content | linkify:'urlInfos'; let idx = index;">
                        <p text-wrap [innerHtml]="urlInfo.content | newline"></p>
                    </div>
                </div>

                <ion-note item-end>
                    {{it.note | timeAgo}}
                    <p style="text-align: right;" *ngIf="it.alert">
                        <ion-badge color="danger">{{ it.alert?.length }}</ion-badge>
                    </p>

                    <div *ngIf="(it.content | linkify:'links')?.length>0">
                        <ion-buttons *ngFor="let url of it.content | linkify:'links'; let idx = index;">
                            <button ion-button round outline (click)="onClickHeader(url)">
                                Link {{(idx + 1)}}
                            </button>
                        </ion-buttons>
                    </div>

                </ion-note>

            </ion-item>

            <ion-item-options>
                <button ion-button color="bg-blue" (click)="onClickDetails(slidingItem, it, 1)">
                    <ion-icon name="ios-arrow-dropup"></ion-icon>
                    Pin
                </button>
                <button ion-button color="secondary" (click)="onClickDetails(slidingItem, it, 2)">
                    <ion-icon name="volume-off"></ion-icon>
                    Mute
                </button>
                <button ion-button color="danger" (click)="onClickDetails(slidingItem, it, 3)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>

            <ion-item-options side="left" (ionSwipe)="onClickDetails(slidingItem, it, 4)">
                <button ion-button color="primary" expandable>
                    <ion-icon name="checkmark"></ion-icon>
                    <div>Read</div>
                    <ion-spinner id="archive-spinner"></ion-spinner>
                </button>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>


    <ion-infinite-scroll (ionInfinite)="doInfinite($event,'DOWN')">
        <ion-infinite-scroll-content 
        loadingSpinner="bubbles" 
        loadingText="Load dữ liệu cũ hơn...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>