<ion-header>

  <ion-toolbar>

    <ion-buttons left>
        <button ion-button icon-only (click)="onClickSelect()">
          <ion-icon [style.font-size]="brush.style" color="{{brush.color}}" name="radio-button-on"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title *ngIf="signatureForm.title">{{signatureForm.title}}</ion-title>

    <ion-buttons right *ngFor="let btn of signatureForm.buttons">
      <button class="badge-background" ion-button icon-only color="{{btn.color}}" (click)="onClickHeader(btn)">
        <ion-icon name="{{btn.icon}}"></ion-icon>
        <ion-badge class="badge-alert" color="danger" *ngIf="btn.alerts">{{
          (btn.alerts?.length>99?'99+':btn.alerts?.length) }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-row *ngIf="isSelect">
    <ion-col col-12>
        <button style="background-color: transparent;" *ngFor="let color of signatureForm.colors" ion-button (click)="changeColor(color)">
            <ion-icon color="{{color.name}}" name="brush"></ion-icon>
        </button>
    </ion-col>
    <ion-col col-12>
        <button style="background-color: transparent;"  *ngFor="let size of signatureForm.brushes" ion-button (click)="changeSize(size)">
          <ion-icon [style.font-size]="size.style" color="{{size.color}}" name="{{size.icon}}"></ion-icon>
        </button>
    </ion-col>
  </ion-row>
  
</ion-header>

<ion-content padding no-bounce>
  <div class="draw-background" #fixedContainer ion-fixed>
    <canvas #imageCanvas (touchstart)="handleStart($event)" (touchmove)="handleMove($event)"></canvas>
  </div>
</ion-content>