page-google-map {
	#map {
		height: 100%;
		width: 100%;
	}
		
	.input-item{
		border-radius: 2em !important;
		opacity: 0.7;
		font-size: 0.9em;
	}

	.icon-center{
		position: absolute;
		top: 48%;  //vi tri trung tam
		left: 50%; //vi tri trung tam
		transform: translate(-50%, -52%); //vi tri trung tam so voi le phai va day
	}

	.size-sm{
		font-size: 15px; //kich co cua icon
	}

	.size-md{
		font-size: 42px; //kich co cua icon
	}

	.size-xl{
		font-size: 48px; //kich co cua icon
	}

	.icon-blue{
		color: #290dc7; //mau cua icon
	}
	
	.icon-green{
		color: #00f000; //mau cua icon
	}

	.icon-red {
		color: #f30b0b; //mau cua icon
	}

	.text-center{
		position: absolute;
		text-align: center;
		top: 37%;  //vi tri trung tam
		left: 50%; //vi tri trung tam
		transform: translate(-50%, -63%); //vi tri trung tam so voi le phai va day
	}

	.text-blur {
		opacity: 0.9;              //lam mo chu va nen 60%
        filter: alpha(opacity=90); /* For IE8 and earlier */
	}

	.v-line {
		position: absolute;
		border-left: 2px dashed green;
		top: 47%;
		left: 50%;
		height: 37px;
		transform: translate(-50%, -53%);
	  }
	.h-line {
		position: absolute;
		border-bottom: 1px dashed green;
		top: 42%;
		left: 50%;
		width: 120px;
		transform: translate(-50%, -52%);
	  }
}