<ion-header>
    <ion-navbar>
        <ion-title>Cordova Info</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="onClickClose()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="background-card gradient grid-border" text-center col-12 offset-xl-3 col-xl-6 offset-lg-3
                col-lg-6 offset-md-2 col-md-8 col-sm-12>

                <ion-list *ngFor="let it of dynamicForm?.items">
                    <!-- title -->
                    <ion-item class="background-card" *ngIf="it.type == 'title'">
                        <ion-label class="title-item">{{it.name}}</ion-label>
                    </ion-item>

                    <!-- form chi tiet -->
                    <ion-list class="input-item" *ngIf="it.type == 'details'">
                        <ion-item *ngFor="let dt of it.details">
                            <strong item-start>
                                {{dt.name}}
                            </strong>
                            <ion-label text-wrap item-end *ngIf="dt.pipe_date">
                                {{dt.value | date:dt.pipe_date}}
                            </ion-label>
                            <ion-label text-wrap item-end *ngIf="!dt.pipe_date">
                                {{dt.value}}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                    
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>